@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*header*/
body header{
    width: 100%;
    height: 8rem;
    text-align: center;
    position: fixed;
    z-index: 1;

}

header #header-topper{
    max-width: 1500px;
    color: #fff;    
    padding: 15px;
    background-color: #04041a;
}
/**
Hamburguer Header 
*/
#hamburguer-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    transition: all ease-in-out .25s;
}
#hamburguer-menu span{
    width: 35px;
    height:3px;
    background-color: #fff;
}
#hamburguer-menu:hover{
    transform: scale(1.1);
}
nav{
    background-color: #0c0c1e;
    padding: 10px;
    display: none;
}

nav ul{
justify-content: center !important;
gap: 10px;
}
nav ul li{
    list-style: none
}
nav ul li a{
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transform: scale(0);
    transition: all ease-in-out .5s;
}
nav ul li a:hover{
    color: #6f00ff;
}
/*Carousel*/
#carousel{
    overflow: hidden;
    height:65vh;
}


/*********/
/*Sobre Section*/
#sobre{
    gap: 10px;
    align-items: flex-start;
}
#imagem{
    width: 50%;

}
#imagem >img{
    width: 100%;
    
}
#txt{
    padding-top: 10px;
    width: 50%;
}


/*********/
/*Em Destaque Section Section*/

#Destaques{
    
    width: 100%;
    max-width: 1500px;
    padding: 15px;
}
#Destaques h2{
    text-align: center;
    margin-bottom: 10px;
}
#destaquesContainer,#promocoesContainer{
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(250px,1fr)
    );
    grid-auto-rows: 400px;
    gap: 10px;
}
.Card,.pCard{    
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, .5);
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.Card button,.pCard button{
    position: absolute;
    bottom: 20px;
    margin-top: 15px;
}
.Card figure img, .pCard figure img {
    width: 100%;
}

.Card figure figcaption, .pCard figure figcaption{
    align-items: flex-start;
    flex-direction: column    
}
figure figcaption h3{
    font-size: 1.2em;
    text-transform: uppercase;
}
figure figcaption p{
    font-size: .8em;
color: #848484;
}
figure figcaption del{
    font-size: 1.4em;
    color: #e3af06;
}
figure figcaption strong{
    font-size: 1.8em;
    color: #6f00ff;
}
.mButton{
    border: none;
    outline: none;
    min-width: 90%;
    padding: 8px;
    background-color: #6f00ff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out .3s;
}
.mButton:hover{
    transform: scale(1.1);
}
#Promocoes{
    margin: 0 auto;
}
#promocoesContainer{
    grid-auto-rows: 450px !important;
}
#contato{
    margin-top: 20px;
    width: 100%;
    max-width: 1500px;
    height: 80vh;
    padding: 10px;
}
form{
    width: 450px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form input{
    width: 100%;
    padding: 10px;
    border: none;
}
