
$fonte-Principal: Roboto, sans-serif;
$bgColor:#dedede;
$navColor: #182C61;
$buttonColor: #4cd137;
$buttonHoverColor: #48fd90;
$textColorLigth: #FCFCFC;
$textColorDark-b: #0a0a0a;
$textColorDark-md: #2c2c2c;

$maxWidth: 1024px;
$w100: 100%;

$text-decoration-none: none;



